* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}
body {
  width: 1920px;
  height: 6613px;
}
a {
  text-decoration: none;
}
.navbar_ {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 16px 17%;
}

.nav_items_list {
  list-style: none;
}

.nav_items_list li {
  display: inline-block;
  margin: 14px 32px;
}

.nav_items_list a {
  text-decoration: none;
  color: #394149;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}

.logo {
  margin-right: auto;
}

button {
  color: #f58a07;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  padding: 18px 32px;
  border-radius: 31px;
  background: rgba(245, 138, 7, 0.1);
  border-style: none;
}

.header {
  display: flex;
  background-color: #dceaf5;
  height: auto;
  justify-content: flex-start;
  align-items: center;
}

.header .header_text {
  margin-left: 320px;
}
.header_logo {
  display: flex;
  width: 143px;
  height: 33px;
  flex-shrink: 0;
}

.header .header_text h4 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  width: 571px;
}
.header .header_text h1 {
  color: #1d3444;
  width: 576px;
  /* H1 Heading */
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 72px; /* 112.5% */
  letter-spacing: -1.92px;
}

.header .header_button {
  display: flex;
  margin-top: 32px;
}
.header .header_button button {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  text-transform: capitalize;
  border-style: none;
  border-radius: 27px;
  background: #f58a07;
}
.header .header_button .sub_button {
  color: #1d3444;
  background-color: #dceaf5;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 17.04px */
  text-transform: capitalize;
}
.header .header_text h4 {
  color: rgba(57, 65, 73, 0.5);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.header .header_text h4 {
  margin-top: 56px;
  margin-bottom: 18px;
}

.header_text .header_logo img {
  margin-right: 45px;
}
.image .orange1 {
  margin-bottom: -500px;
}

.image {
  display: flex;
  margin-top: 85;
}

.help {
  margin: 96px 320px 0px 320px;
  width: 1280px;
  height: 740px;
  flex-shrink: 0;
}

.help h2 {
  color: #1d3444;

  /* H2 Heading */
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  width: 735px;
}

.help h4 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  width: 735px;
  margin-top: 27px;
}

.help .help_posts {
  display: flex;
  width: 1280px;
  height: 447px;
  flex-shrink: 0;
  justify-content: space-between;
  margin-top: 64px;
}

.card {
  width: 400px;
  height: 447px;
  flex-shrink: 0;
}

.learn-more-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
}

.learn-more-button .learn-more {
  color: #f58a07;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 106.5%; /* 17.04px */
  margin-right: 8px;
}

.card-title {
  margin-top: 33px;
  margin-bottom: 17px;
}
.FeatureSection {
  background-color: #edf7ff;
  padding: 96px 320px;
  margin-top: 96px;
}

.feature_things {
  display: flex;
  margin-bottom: 64px;
}

.feature_things .feature_title {
  color: #0d1317;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
  width: 619px;
  margin-right: 40px;
}

.feature_things .feature_content {
  color: #1d3444;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  width: 620px;
  height: 102px;
  flex-shrink: 0;
}

.features {
  display: flex;
  justify-content: space-between;
}

.features .feature .content {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  width: 336px;
}

.features .feature {
  border-radius: 20px;
  background-color: #fff;
  width: 401px;
  height: 277px;
  flex-shrink: 0;
}

.features .feature img,
.title,
.content {
  margin-left: 39px;
}

.feature img {
  margin-top: 48px;
  margin-bottom: 32px;
}
.feature .title {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 25.56px */
  letter-spacing: -0.72px;
}

.feature .content {
  margin-bottom: 37px;
  margin-top: 16px;
}

.about_section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1338px;
  height: 724.008px;
  flex-shrink: 0;
  margin-left: 320px;
  margin-top: 100px;
  position: relative;
}

.circle {
  position: absolute;
  top: -33px;
  right: 0;
}
.about_section .about_image {
  width: 153px;
  height: 670px;
  /* flex-shrink: 0; */
  margin-left: 47px;
  /* border-radius: 1%; */
}

.about_image img {
  border-radius: 5%;
}

.about_text h2 {
  width: 596px;
  height: 157px;
  flex-shrink: 0;
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
}

.about_text h4 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  width: 510px;
  margin-top: 32px;
  margin-bottom: 48px;
}
.about_features {
  display: flex;
  justify-content: space-between;
}
.about_feature .about_title {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 106.5%; /* 25.56px */
  letter-spacing: -0.72px;
}

.about_feature .about_text {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
  width: 264px;
}

.service_wrapper {
  width: 1274.394px;
  height: 682px;
  flex-shrink: 0;
  background-color: #edf7ff;
  margin: 96px 320px;
  border-radius: 3%;
  position: relative;
}

.ribbon {
  position: absolute;
  top: -15px;
  right: -15px;
}

.service_tab {
  padding-top: 48px;
  padding-left: 48px;
  padding-bottom: 80px;
}

.service_tab .sv_bt1 {
  color: #f58a07;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 31px;
  background: #fff;
  padding: 8px 24px;
}

.sv_bt1 a {
  color: #f58a07;
  text-decoration: none;
}

.service_tab .sv_bt3,
.service_tab .sv_bt2 {
  background-color: #edf7ff;
  border-radius: 31px;
  border: 1px solid #a8bccc;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 31px;
  background-color: #edf7ff;
  padding: 8px 24px;
}
.sv_bt2 a,
.sv_bt3 a {
  color: rgba(6, 50, 85, 0.3);
  text-decoration: none;
}

.service_content {
  display: flex;
  justify-content: space-between;
  border-radius: 5%;
  margin-right: 42px;
}
.sv_text {
  margin-left: 48px;
  width: 510px;
}

.service_content .sv_text h1 {
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  width: 572px;
}

.service_content .sv_text h4 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  width: 510px;
  margin-top: 25px;
}

.service_content .sv_text .all-button {
  margin-top: 30px;
}

.all-button a {
  text-decoration: none;
  color: #f58a07;
}

.CTA_section {
  display: flex;
  justify-content: stretch;
}

.CTA_section img {
  width: 963px;
  height: 518px;
  flex-shrink: 0;
}

.CTA_right {
  background-color: #f58a07;
  width: 960px;
  height: 518px;
  flex-shrink: 0;
}

.CTA_right .job_vaccancies {
  background-color: #fff;
  border: none;
}

.CTA_right h1 {
  margin-top: 128px;
  margin-left: 128px;
}
.CTA_right button {
  margin-left: 128px;
  margin-top: 40px;
}
.CTA_right h1 {
  color: #fff;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  width: 532px;
}

.job_vaccancies a {
  text-decoration: none;
  color: #f58a07;
}

.video_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 128px 320px;
}

.video_content h1 {
  color: #0d1317;

  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  text-transform: capitalize;
  width: 550px;
  margin-right: 110px;
}

.video_content h4 {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 166.667% */
  width: 550px;
}

.CEO {
  margin-top: 40px;
  display: flex;
  justify-content: flex-start;
}

.CEO .name {
  color: #063255;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 171%; /* 41.04px */
  margin-left: 24px;
}

.CEO .position {
  margin-left: 24px;
  color: #f58a07;
}

.video_video img {
  width: 620px;
  height: 501px;
  flex-shrink: 0;
}

.blog_section {
  background: #dceaf5;
  position: relative;
  width: 1920px;
  height: 819px;
  flex-shrink: 0;
}

.blog_section_title {
  margin-left: 320px;
  padding-top: 96px;
  padding-bottom: 64px;
  color: #0d1317;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px; /* 116.667% */
  letter-spacing: -1.44px;
  text-transform: capitalize;
  width: 453px;
}

.blogs {
  margin-left: 320px;
  display: flex;
}

.blog .blog_title {
  color: #0d1317;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: -0.72px;
  width: 336px;
  margin: 16px 32px;
}

.blog_content {
  color: #5b5b5b;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 336px;
  margin-left: 32px;
  margin-right: 32px;
}
.blog_button {
  padding: 32px;
}

.blog {
  width: 400px;
  height: 507px;
  flex-shrink: 0;
  background-color: #fff;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  margin-right: 40px;
}

.blog .blog_button a {
  text-decoration: none;
  color: #f58a07;
}

footer {
  background-color: #063255;
  color: #fff;
  position: relative;
}
.footer_top {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  margin-left: 320px;
}

.company a {
  color: #fff;
}

.form #submit_button {
  color: red;
  padding: 10px;
}

.footer_left h2 {
  margin-top: 32px;
  margin-bottom: 32px;
  color: #fff;
  font-family: Poppins;
  font-size: 36px;
  width: 351px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
}
.company .com,
.Connect .join {
  margin-bottom: 24px;
  color: #fff;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.company h4,
.Connect h4,
.subscribe h4 {
  margin-bottom: 16px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.subscribe .type_email {
  background-color: #fff;
  width: 342px;
  height: 54px;
  flex-shrink: 0;
  margin-right: 320px;
  color: #9c9c9c;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: left;
}

.subscribe .subscribe_button {
  background-color: #f58a07;
  color: #fff;
  margin-top: 16px;
}

.footer_bot {
  display: flex;
  margin-left: 320px;
  justify-content: flex-end;
  width: 1280px;
  height: 24px;
  flex-shrink: 0;
  padding-bottom: 80px;
  margin-top: 48px;
}

.footer_bot #allright {
  margin-right: auto;
}
/* .footer_bot h4 {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 320px;
} */

#privacy {
  margin-right: 32px;
}

.shapeleft {
  position: absolute;
  bottom: 0;
  left: 0;
}
.shaperight {
  position: absolute;
  top: 30px;
  right: 0;
}
